__init__.py
aftcode.py
bestfit.txt
boxfit
boxfit_clrDLtrain.py
boxfit_ism_final_testfeatures.csv
boxfit_ism_final_testfeatures(1).csv
boxfit_ism_final_testlabels.csv
boxfit_ism_final_trainfeatures.csv
boxfit_ism_final_trainlabels.csv
boxfit_wind_final_testfeatures.csv
boxfit_wind_final_testlabels.csv
boxfit_wind_final_trainfeatures.csv
boxfit_wind_final_trainlabels.csv
Example_Fitter_original.py
Example_Fitter.py
Example_Lightcurve.py
fit.txt
currentsimplex.txt
contour.png
boxscript.sh
boxoutput.log
boxfitsettings.txt
boxfitmod.cpp
boxfitmod
boxfit.h
boxfit.cpp
FitterClass.py
FluxGeneratorClass.py
grb990510data.txt
GW170817_3GHz_VLAobs.txt
GW170817.csv
InterpolatorClass.py
jetfit_lightcurve.txt
light_curves.png
lightcurve_comp.png
lightcurve_aft.txt
lightcurve_comp1.png
lightcurve_plot.png
lightcurve.txt
MANIFEST.in
param_IO.cpp
package_list.txt
nohup.out
pyproject.toml
setup.py
quadrucodebackup.ipynb
single.txt
spectrum_aft.txt
spectrum_comp.png
spectrum.txt
tricode.ipynb
Table.h5
tricode.py
__pycache__/FitterClass.cpython-312.pyc
__pycache__/FluxGeneratorClass.cpython-312.pyc
__pycache__/InterpolatorClass.cpython-312.pyc
examples/centroid_motion.py
examples/image.py
jetsimpy/afterglow.py
examples/light_curves.py
jetsimpy/autorefine.py
jetsimpy/__pycache__/__init__.cpython-312.pyc
jetsimpy/__pycache__/afterglow.cpython-312.pyc
jetsimpy/src/binding.cpp
jetsimpy/src/Definations.hpp
jetsimpy/src/EqualArrivalTimeSurface.hpp
jetsimpy/src/Grbafterglow.hpp
jetsimpy/src/Integral.hpp
jetsimpy/src/Interpolation.hpp
jetsimpy/src/Jet.hpp
jetsimpy/src/JetImaging.hpp
jetsimpy/src/JetIntegrator.hpp
jetsimpy/src/math.hpp
jetsimpy/src/Optimization.hpp
jetsimpy/src/Radiation.hpp
jetsimpy/src/Refinement.hpp
jetsimpy/src/RootSolver.hpp
jetsimpy/src/TimeIntegration.hpp
