__init__.py
aftcode.py
bestfit.txt
boxfit
boxfit_clrDLtrain.py
boxfit_ism_final_testfeatures.csv
boxfit_ism_final_testfeatures(1).csv
boxfit_ism_final_testlabels.csv
boxfit_ism_final_trainfeatures.csv
boxfit_ism_final_trainlabels.csv
boxfit_wind_final_testfeatures.csv
boxfit_wind_final_testlabels.csv
boxfit_wind_final_trainfeatures.csv
boxfit_wind_final_trainlabels.csv
Example_Fitter_original.py
Example_Fitter.py
Example_Lightcurve.py
fit.txt
currentsimplex.txt
contour.png
boxscript.sh
boxoutput.log
boxfitmod.cpp
boxfitmod
boxfit.h
boxfit.cpp
grb990510data.txt
GW170817_3GHz_VLAobs.txt
GW170817.csv
jetfit_lightcurve.txt
light_curves.png
lightcurve_comp.png
lightcurve_aft.txt
lightcurve_comp1.png
lightcurve_plot.png
lightcurve.txt
MANIFEST.in
param_IO.cpp
package_list.txt
nohup.out
pyproject.toml
setup.py
quadrucodebackup.ipynb
single.txt
spectrum_aft.txt
spectrum_comp.png
spectrum.txt
tricode.ipynb
tricode.py
__pycache__/FitterClass.cpython-312.pyc
__pycache__/FluxGeneratorClass.cpython-312.pyc
__pycache__/InterpolatorClass.cpython-312.pyc
examples/centroid_motion.py
examples/image.py
jetsimpy/afterglow.py
examples/light_curves.py
jetsimpy/autorefine.py
jetsimpy/__pycache__/__init__.cpython-312.pyc
jetsimpy/__pycache__/afterglow.cpython-312.pyc
jetsimpy/src/binding.cpp
jetsimpy/src/Definations.hpp
jetsimpy/src/EqualArrivalTimeSurface.hpp
jetsimpy/src/Grbafterglow.hpp
jetsimpy/src/Integral.hpp
jetsimpy/src/Interpolation.hpp
jetsimpy/src/Jet.hpp
jetsimpy/src/JetImaging.hpp
jetsimpy/src/JetIntegrator.hpp
jetsimpy/src/math.hpp
jetsimpy/src/Optimization.hpp
jetsimpy/src/Radiation.hpp
jetsimpy/src/Refinement.hpp
jetsimpy/src/RootSolver.hpp
jetsimpy/src/TimeIntegration.hpp
examples/quadrucode.ipynb
afterglow.py
autorefine.py
desktop-tutorial
DeepGlow-main/.flake8
DeepGlow-main/.pre-commit-config.yaml
DeepGlow-main/LICENSE
DeepGlow-main/Logo_DeepGlow.png
DeepGlow-main/README.md
DeepGlow-main/.github/workflows/python-cd.yml
DeepGlow-main/.github/workflows/python-ci.yml
DeepGlow-main/DeepGlow/data/model-ism-final.hdf5
DeepGlow-main/DeepGlow/DGmain.py
desktop-tutorial
DeepGlow-main/DeepGlow/data/model-wind-final.hdf5
DeepGlow-main/DeepGlow/data/scale_facs_ism_final.csv
DeepGlow-main/DeepGlow/data/scale_facs_wind_final.csv
DeepGlow-main/paper/combine_datasets.py
DeepGlow-main/paper/MCstats.py
DeepGlow-main/paper/plot_overlay.py
DeepGlow-main/paper/plots_paper.ipynb
DeepGlow-main/paper/run_boxfit.py
DeepGlow-main/paper/split_traintest.py
DeepGlow-main/paper/whichbox.py
DeepGlow-main/tests/conftest.py
DeepGlow-main/tests/test_emulator.py
examples/__pycache__/FitterClass.cpython-312.pyc
examples/__pycache__/FluxGeneratorClass.cpython-312.pyc
examples/__pycache__/InterpolatorClass.cpython-312.pyc
jetsimpy/__init__.pyc
jetsimpy/afterglow.pyc
desktop-tutorial
DeepGlow-main/.gitignore
DeepGlow-main/example.py
DeepGlow-main/paper/boxfit_clrDLtrain_wind.py
DeepGlow-main/paper/CLR
examples/Table.h5
examples/InterpolatorClass.py
examples/FluxGeneratorClass.py
examples/FitterClass.py
desktop-tutorial
DeepGlow-main/paper/CLR
